extends layout

block content
  div.container
    div.row
      div.col-sm-4
        img(src= data.image)
      div.col-sm-8
        h2= data.name
        p= "Status: " + data.status 
        p= "Especie: " + data.species 
        p= "Tipo: " + data.type 
        p= "Sexo: " + data.gender
        a(href= "/lugar/" + data.origin.url)= "Origen: " + data.origin.name

