extends layout

block content
  div.container
    div.row
      div.col-sm
        img(src= data.image)
      div.col-sm
        h2= data.name
        div.list-group 
          li.list-group-item= "Status: " + data.status 
          li.list-group-item= "Especie: " + data.species 
          li.list-group-item= "Tipo: " + data.type 
          li.list-group-item= "Sexo: " + data.gender
          a.list-group-item.list-group-item-action(href= "/lugar/" + lid1)= "Origen: " + data.origin.name
            span.badge.badge-primary.badge-pill(style= {float: "right"}) +
          a.list-group-item.list-group-item-action(href= "/lugar/" + lid2)= "Último paradero: " + data.location.name
            span.badge.badge-primary.badge-pill(style= {float: "right"}) +
      div.col-sm
        h2 Episodios      
        div.list-group#ep-list  
          each ep in episodes
            a.list-group-item.list-group-item-action(href="/episodio/" + ep.id)= "[" + ep.episode + "] " + ep.name
